<app-header></app-header>

<main class="flex justify-center">
   <section class="flex flex-col md:flex-row">
      <div class="p-8 flex flex-col justify-center items-center md:w-1/2">
        <span class="text-xl font-bold text-slate-400 mb-3">Consultoria MS</span>
        <h1 class="text-4xl md:text-7xl font-black text-slate-200 text-center">A consultoria que você busca para o seu software</h1>
      </div>
      <img src="/assets/consultoria.png" alt="consultoria" class="w-full md:w-1/2"/>
    </section>
</main>
